/* --- Dosis --- */
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
    src: local('Dosis'), url('Dosis-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 200;
    src: local('Dosis'), url('Dosis-ExtraLight.woff') format('woff');
}

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 300;
    src: local('Dosis'), url('Dosis-Light.woff') format('woff');
}

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 500;
    src: local('Dosis'), url('Dosis-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 600;
    src: local('Dosis'), url('Dosis-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 700;
    src: local('Dosis'), url('Dosis-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 800;
    src: local('Dosis'), url('Dosis-ExtraBold.woff') format('woff');
}

/* --- Open Sans --- */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), url('OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans'), url('OpenSans-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans'), url('OpenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: local('Open Sans'), url('OpenSans-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans'), url('OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: local('Open Sans'), url('OpenSans-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans'), url('OpenSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Open Sans'), url('OpenSans-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans'), url('OpenSans-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src: local('Open Sans'), url('OpenSans-ExtraBoldItalic.ttf') format('truetype');
}
